* {
  padding: 0;
  margin: 0;
}

.magic-hover {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 0em 100%;
  background-position: right;
  transition: background-size 0.25s ease-in-out;
}
.magic-hover:hover {
  background-position: left;
  background-size: 100% 100%;
}

.magic-hover-vertical {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0em;
  background-position: bottom;
  transition: background-size 0.25s ease-in-out;
}
.magic-hover-vertical:hover {
  background-size: 100% 100%;
}

.magic-hover-2 {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 0% 3px;
  background-position: bottom right;
  transition: background-size 0.25s ease-in-out;
}
.magic-hover-2:hover {
  background-position: bottom left;
  background-size: 100% 3px;
}


/* si pero no :/ */
/* 
.cube-scene-container {
  width: 50vw;
  margin: 0 auto;
  overflow: hidden;
  transition: all 0.25s;
}
  .scene {
  margin: 0 -50%;
  width: 100vw;
  height: 200px;
  transition: all 0.s;
}
.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.25s;
  top: 0%;
}
.cube__face {
  position: absolute;
  width: 100%;
  height: 200px;
  display: flex;
  align-items:center;
  justify-content: center; 
  font-size: 25px;
}
.cube__face--front {
  background: rgba(0, 0, 0, 0.5); 
  color: #000;
}
.cube__face--bottom {
  background: purple;
  color: white ;
}

.cube__face--front  { transform: rotateY(  0deg) translateZ(100px); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(100px); }

.cube:hover {
  top: 50%;
  transform: rotateX(90deg) translateZ(100px) ;
}
.cube-scene-container:hover {
  width: 100vw;
}
.scene:hover {
  margin: 0 auto;
}  */

 .cube-scene {
  width: 100%;
  height: 150px;
  overflow: hidden;
}
.cube__hover{
  width: 50vw;
  height: 150px;
  margin: 0 auto;
  transition:all 0.15s ease-out;
  text-align: center;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(0deg);
  color: #000;
}
.cube__face {
  position: absolute;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 25px;
}
.front {
  /* tener el mismo color del fondo */
  background: #fff;
  transform: rotateY(0deg);
}
.bottom{
  bottom: 0;
  background: purple;
  transform: rotateX(-90deg) translateZ(75px) ;
}
.cube__hover:hover {
  width: 100%;
  color: #fff;
  transform: rotateX(90deg);
}
.front:hover {
  transform: rotateY(0deg) translateY(80px);;
} 


